<form action="/add" method="post">
    <p>titulo</p>
    <input type="text" name="titulo" id="titulo">
    <p>conteudo</p>
    <textarea name="conteudo" id="" ></textarea>
    <button type="submit">cadastrar postagens</button>
</form>