<form action="/slaoq" method="post">
    <input type="text" name="nome" id="search" placeholder="nome">
    <input type="text" name="sobrenome" id="">

    <button type="submit">Buscar</button>
</form>